[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyresparser = "*"
nltk = "*"
spacy = "==2.2.4"
flask = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.8"
